# This points to a local postgres server, which you can run with docker-compose
POSTGRES_URL=postgres://postgres:postgres@localhost/postgres

# Request test data from the AP
INGEST_TEST_DATA=true

# Request data for the 2020 general
ELECTION_DATE=2020-11-03

# Fill this in
AP_API_KEY=xxx

