[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
mypy = "*"
black = "*"
autoflake = "*"
isort = "*"

[packages]
elex = "*"
psycopg2-binary = "*"
environs = "*"
sentry-sdk = "*"
pydantic = "*"
pyhumps = "*"
boto3 = "*"
jsonschema = "*"
ddtrace = "*"
pygsheets = "*"
pytz = "*"

[requires]
python_version = "3.7"

[scripts]
autoflake = "autoflake --remove-unused-variables --remove-all-unused-imports --ignore-init-module-imports -i --recursive enip_backend"
isort = "isort --recursive enip_backend"
black = "black enip_backend"
mypy = "mypy enip_backend --strict-optional"
format = "bash -c 'pipenv run autoflake && pipenv run isort && pipenv run black'"

[pipenv]
allow_prereleases = true
